certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
cryptography==42.0.6
cssselect==1.2.0
decorator==4.4.2
ensta==5.2.9
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.4.9
lxml==5.2.1
moviepy==1.0.3
ntplib==0.4.0
numpy==1.26.4
pillow==10.3.0
proglog==0.1.10
pycparser==2.22
pyotp==2.9.0
pyquery==2.0.0
requests==2.31.0
setuptools==68.2.2
tqdm==4.66.4
urllib3==2.2.1
wheel==0.43.0
